name: build

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ master ]

env:
  MIX_ENV: test
  PR_DETAILS: ${{ github.event }}

jobs:
  slt:
    runs-on: ubuntu-latest
    container: python:3.7-slim

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Dump GitHub context
        id: github_context_step
        run: echo '${{ toJSON(github) }}'

      - name: Print stuff
        run: |
          echo $PR_DETAILS

      # - name: Dump more stuff
      #   run: echo '${{ toJSON($GITHUB_REF) }}'