name: build

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ master ]

env:
  MIX_ENV: test

jobs:
  slt:
    runs-on: ubuntu-latest
    container: python:3.7-slim

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: print
        run: echo ${{ toJSON(github.event) }}

      - name: Search linear ticket
        uses: peterkrauz/search-linear-ticket-action@v0.0.6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          EVENT_DETAILS: ${{ toJSON(github.event) }}