name: build

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ master ]

env:
  MIX_ENV: test

jobs:
  slt:
    runs-on: ubuntu-latest
    container: python:3.7-slim

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Dump GitHub context
        id: github_context_step
        run: echo '${{ toJSON(github) }}'

      - name: Gather context variables
        run: |
          echo ::set-env name=PULL_REQUEST_NUMBER::$(echo $GITHUB_REF | awk -F / '{print $3}')
          echo ::set-env name=REPOSITORY_NAME::$(echo $GITHUB_REF | awk -F / '{print $2}')
        shell: bash

      # - name: Dump more stuff
      #   run: echo '${{ toJSON($GITHUB_REF) }}'